@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
#root {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

body {
  background-color: var(--color-bg);
  font-family: "Inter", sans-serif;
}
