@import "tailwindcss";

@theme {
  --color-indigo: #4f46e5;
  --color-blue: #3b82f6;
  --color-green: #10b981;
  --color-yellow: #f59e0b;
  --color-red: #ef4444;
  --color-gray: #6b7280;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-bg: #f3f4f6;
  --color-text: #111827;
  --color-border: #e5e7eb;
  --color-muted: #9ca3af;
  --color-nav-bg: rgba(79, 70, 229, 0.15);
}
